<!-- 工具列 -->
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon class="mat-18" (click)="this.sideNav.open()" *ngIf="!sideNav?.opened">menu</mat-icon>
    <mat-icon class="mat-18" (click)="this.sideNav.close()" *ngIf="sideNav?.opened">close</mat-icon>
  </button>
  <a href=""><span>MoveUp</span></a>
  <span class="example-spacer"></span>
  <!-- appearance="outline"可變更樣式>https://material.angular.io/components/form-field/overview -->
  <!-- <mat-form-field appearance="outline"> -->

</mat-toolbar>

<!-- Side Bar 側邊攔 -->
<mat-sidenav-container>
  <mat-sidenav #sideNav="matSidenav">
    <a href="https://www.youtube.com/channel/UCcwT1FrifMVC1hYD4_I13dg">
      <img src="assets/image/SM5.png" alt="123" class="avatar mat-elavation-z8 circleImg" />
    </a>

    <!-- <h4>Side Bar</h4> -->
    <mat-divider></mat-divider>
    <a href="#/news-list"><button mat-raised-button color="primary">
        <span>連結1</span>
      </button></a>
  </mat-sidenav>
  <!-- 內容區 -->
  <mat-sidenav-content class="content mat-elevation-z4">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <!-- 內容區 END-->

</mat-sidenav-container>
<!-- Side Bar 側邊攔 END -->